<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form th:object="${recipe}" th:action="#{/recipe/}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card mb-6">
                        <div class="card-header text-white bg-primary rounded-2">
                            <h5>Edit recipe information</h5>
                        </div>
                        <div class="card-body border border-2 border-primary rounded-2">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <lable>Categories:</lable>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cook time:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-6">
                        <div class="card-header text-white bg-primary rounded-2">
                            <div class="row">
                                <div class="col-md-11 form-group">
                                    <h5>Ingredients</h5>
                                </div>
                                <div class="col-md-1 form-group">
                                    <a class="btn btn-secondary" href="#" type="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border border-2 border-primary rounded-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of sugar</li>
                                        <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.getAmount() +
                                            ingredient.uom.getDescription() + ingredient.getDescription())}">1 Teaspoon of chocolate</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-6">
                        <div class="card-header text-white bg-primary rounded-2">
                            <h5>Directions</h5>
                        </div>
                        <div class="card-body border border-2 border-primary rounded-2">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-6">
                        <div class="card-header text-white bg-primary rounded-2">
                            <h5>Notes</h5>
                        </div>
                        <div class="card-body border border-2 border-primary rounded-2">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.notes}"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</body>
</html>